<h1>JWT</h1>
<form id="form">
   Email: <input type="email" name="email" id="email">
   Password: <input type="password" name="password" id="password">
    <input type="submit" value="INGRESAR">
</form>
</br> <h1>VALIDACION DE USUARIO BACKEND</h1> </br>
<button id="boton" onclick="location.href='/jwt/current'">VALIDAR</button>

</br> <h1>VER PRODUCTOS</h1> </br>
<button id="botonLogin" onclick="location.href='/jwt/loginJWTCookiesPassportProductos'">VER</button>
<script>

    const form = document.getElementById('form')
    const inputEmail = document.getElementById('email')
    const inputPassword = document.getElementById('password')
    const boton = document.getElementById('boton')
    const botonLogin = document.getElementById('botonLogin')


    form.onsubmit = (e) => {
    e.preventDefault()
    fetch('http://localhost:3000/jwt/login', {
        method: 'POST',
        body: JSON.stringify({
            email: inputEmail.value,
            password: inputPassword.value,
        }),
        headers: {
        'Content-Type': 'application/json',
        },
    })
        .then((response) => response.json())
        .then((response) => {
            //localStorage.setItem('token',response.token)
            console.log(response)
            //cookie.setItem('token',response.token)
            console.log('todo bien');
            console.log(document.cookie);
        })
    }

    // localstorage
    // boton.onclick = ()=>{
    //     fetch('http://localhost:8080/jwt/login', {
    //     method: 'GET',
    //     headers: {
    //       'Content-Type': 'application/json',
    //       'Authorization': `Bearer ${localStorage.getItem('token')}`
    //     },
    //   })
    // }

    //cookies
    /*boton.onclick = ()=>{
        fetch('http://localhost:3000/jwt/login', {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json'
        'Authorization': `Bearer ${cookie.getItem('token')}`
        },
    })
    }*/

    //loginJWTCookirdPassport
   /* boton.onclick = ()=>{
        try{
        fetch('http://localhost:3000/jwt/current', {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json',
        //'Authorization': `Bearer ${document.cookie}`
        }
    })
        }
        catch(error){
            console.log(error)
        }
    }*/

    //loginJWTCookirdPassport
   /* botonLogin.onclick = ()=>{
        console.log("hice click en el boton")
        console.log("cookie",document.cookie)
       
        console.log("pase el punto")
        try{
        fetch('http://localhost:3000/jwt/loginJWTCookiesPassportProductos', {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json',
        //'Authorization': `Bearer ${document.cookie('token')}`
       }
    })
        }catch(error){
            console.log(error)
        }
    }*/


</script>
