<h1>RESET PASSWORD</h1>
{{data.text}}
<br>
<form action='/users/forgotPassword' method='post'>
  Email: <input type='email' name='email' id='email' />
  <input type='submit' value='RESET' />
</form>

