<form action='/login/session', method="post">
    User:
    <input type="text" name="user" id="user"/>
    Password:
    <input type="text" name="password" id="password"/>
    <input type="submit" value="INGRESAR"/>
</form>