<h1>RESET PASSWORD</h1>

<form action="/users/setNewPassword/{{data.email}}/token/{{data.token}}" method='post'>
  New Password: <input type='password' name='password' id='password' />
  <input type='submit' value='Set New Password' />
</form>

